/AddToCartServlet.class
/AddressFetchServlet.class
/CartFetchServlet.class
/ConfirmPass.class
/DeliveryData.class
/ForgotPassword.class
/LogOutServlet.class
/LoginServlet.class
/RegisterServlet.class
/RemoveCartServlet.class
/addproduct.class
/fileUploadServlet.class
/getOrderDetailsServlet.class
/orderproduct.class
/searchServlet.class
/updateOrderServlet.class
