<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true"  xmlns:log4j='http://jakarta.apache.org/log4j/'>


    <appender name="fileAppender" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd-HH" />
        <param name="file" value="/var/log/tomcat9/bodyshoplogs/BodyShop.log"/>  
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p [%t] %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p [%c{1}] : %L - %m%n"/>
      </layout>
   </appender>
    <logger name="com.bodyshop">
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender" />
     </logger>
     <logger name="org.apache.jsp">
        <level value="DEBUG"/>
        <appender-ref ref="fileAppender" />
         <appender-ref ref="console" />
     </logger>
  
    <logger name="com.zaxxer">
            <level value="DEBUG"/>
            <appender-ref ref="fileAppender" />
    </logger>
    <logger name="org.hibernate.hikaricp">
            <level value="DEBUG"/>
            <appender-ref ref="fileAppender" />
    </logger>
     <root>  
        <level value="DEBUG" />  
        <appender-ref ref="console" />  
        <appender-ref ref="file" />  
    </root>
</log4j:configuration>
